*.class
target/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse project files
.project
.idea/
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
java_petri_engine.iml


# Locally stored "Eclipse launch configurations"
*.launch

# do not exclude libs

lib/*
!resources/*
!pom.xml

# ignore compiled javadoc

doc/javadoc/
.idea/
src/main/java/META-INF/
